.container {
  height: 100vh;
  @apply flex flex-col items-center justify-center;
}

.data {
  background: linear-gradient(
    to right bottom,
    hsla(265, 100%, 50%, 1),
    hsla(62, 99%, 73%, 1),
    hsla(337, 96%, 68%, 1)
  );
  height: 25vh;
  @apply flex flex-col items-center justify-center p-4;
}
